<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="JavaSeleniumHubSuite"
       parallel="classes"
       thread-count="6"
       preserve-order="true">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="pl.devqa.javaseleniumhub.listeners.AllureTestListener"/>
    </listeners>

    <test name="AllTests">
        <classes>
            <class name="pl.devqa.javaseleniumhub.tests.e2e.RegisterUserTest"/>
            <class name="pl.devqa.javaseleniumhub.tests.smoke.LoginUserPositiveTest"/>
            <class name="pl.devqa.javaseleniumhub.tests.smoke.LoginUserNegativeTest"/>
            <class name="pl.devqa.javaseleniumhub.tests.smoke.LogoutUserTest"/>
            <class name="pl.devqa.javaseleniumhub.tests.smoke.BaseSmokeTest"/>
        </classes>
    </test>
</suite>
